/* Dark (Expressive inspired) bar */

@import "../font.css";

* {
	min-height: 30pt;
}

window#waybar {
	background: rgba(22, 22, 29, 0.91);
	color: #e0e6ed;
	border-radius: 10px;
	transition: all 0.1s ease;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces {
	background-color: transparent;
}

#workspaces button {
	all: initial;
	padding: 0 10px;
	margin: 10px 2px;
	border-radius: 4px;
	color: #757575;
	background-color: #000000;
	transition: all 0.1s ease;
}

#workspaces button.active {
	background-color: #080b0c;
	color: #9ed8f2;
	min-width: 20px;
	transition: all 0.1s ease;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #000000;
	background-color: #345a6a;
	color: #9ed8f2;
	min-width: 20px;
	transition: all 0.2s ease;
}

#workspaces button.urgent {
	background-color: #ff6f91;
	color: #000000;
	min-width: 15px;
	transition: all 0.2s ease;
}

tooltip,
tooltip label {
	background-color: #131822;
	opacity: 0.9;
}

tooltip {
	border: 2px solid #9ed8f2;
	border-radius: 10px;
	padding: 15px;
}

tooltip label {
	padding: 5px;
}

#custom-dtf-update {
	color: #ff6f91;
}

#tray,
#battery,
#clock,
#window,
#custom-window,
#custom-bluetooth,
#custom-temperature,
#custom-notification-center,
#custom-hyprsunset,
#custom-hyprland-settings,
#custom-audio,
#custom-network,
#custom-power {
	padding: 0 13px;
	margin: 10px 4px;
	border-radius: 4px;
	transition: all 0.2s ease;
}

#tray {
	background-color: #3f4454;
	color: #bbc4df;
}

#custom-temperature.critical,
#custom-power,
#workspaces button.urgent,
#custom-network.strength-0,
#battery.LVL5 {
	background-color: #4d212c;
	color: #ff9ab2;
}

#custom-temperature.warning,
#custom-network.strength-4,
#custom-network.strength-5,
#battery.LVL3,
#custom-hyprsunset {
	background-color: #3e382c;
	color: #fae9c3;
}

#custom-bluetooth.powered-off,
#custom-network.disconnected,
#custom-notification-center.clear,
#custom-audio.muted {
	background-color: #26282f;
	color: #7f849c;
}

#custom-bluetooth.no-devices {
	background-color: #345a6a;
	color: #9ed8f2;
}

#custom-bluetooth.one-device,
#custom-bluetooth.multiple-devices {
	background-color: #0a2c4d;
	color: #7abeff;
}

#custom-network.strength-1,
#custom-audio.high,
#battery.LVL4 {
	background-color: #3d232a;
	color: #f7aec2;
}

#custom-network.strength-2,
#custom-audio.medium {
	background-color: #52383c;
	color: #f3c6cd;
}

#custom-network.strength-3 {
	background-color: #563b40;
	color: #fac6d1;
}

#custom-temperature.normal,
#custom-network.strength-6,
#custom-network.strength-7,
#battery.LVL2 {
	background-color: #3b5a55;
	color: #a9e8dd;
}

#custom-network.ethernet,
#custom-network.strength-8,
#custom-network.strength-9,
#battery.LVL0,
#battery.LVL1 {
	background-color: #3a4f38;
	color: #b8e9b4;
}

#clock,
#custom-notification-center.unclear {
	background-color: #564e4d;
	color: #f8e9e6;
}

#window,
#custom-window {
	background-color: #4e5053;
	color: #e9eef2;
}

#custom-hyprland-settings {
	background-color: #3a3d46;
	color: #c5cadb;
}

#custom-audio.low {
	background-color: #2e3038;
	color: #d2d7ea;
}

#tray {
	background-color: #3f4454;
	color: #bbc4df;
}

#custom-temperature.critical,
#custom-power,
#workspaces button.urgent,
#custom-network.strength-0,
#battery.LVL5 {
	background-color: #4d212c;
	color: #ff9ab2;
}

#custom-temperature.warning,
#custom-network.strength-4,
#custom-network.strength-5,
#battery.LVL3,
#custom-hyprsunset {
	background-color: #3e382c;
	color: #fae9c3;
}

#custom-bluetooth.powered-off,
#custom-network.disconnected,
#custom-notification-center.clear,
#custom-audio.muted {
	background-color: #26282f;
	color: #7f849c;
}

#custom-bluetooth.no-devices {
	background-color: #345a6a;
	color: #9ed8f2;
}

#custom-bluetooth.one-device,
#custom-bluetooth.multiple-devices {
	background-color: #0a2c4d;
	color: #7abeff;
}

#custom-network.strength-1,
#custom-audio.high,
#battery.LVL4 {
	background-color: #3d232a;
	color: #f7aec2;
}

#custom-network.strength-2,
#custom-audio.medium {
	background-color: #52383c;
	color: #f3c6cd;
}

#custom-network.strength-3 {
	background-color: #563b40;
	color: #fac6d1;
}

/* hover state */
#tray:hover,
#battery:hover,
#clock:hover,
#window:hover,
#custom-window:hover,
#custom-bluetooth:hover,
#custom-temperature:hover,
#custom-notification-center:hover,
#custom-hyprsunset:hover,
#custom-hyprland-settings:hover,
#custom-audio:hover,
#custom-network:hover,
#custom-power:hover {
	padding: 0 13px;
	margin: 10px 4px;
	border-radius: 4px;
	color: rgba(22, 22, 29, 0.91);
	transition: all 0.2s ease;
}

/* width on hover */
#custom-notification-center:hover,
#custom-power:hover,
#custom-bluetooth.powered-off:hover,
#custom-bluetooth.no-devices:hover,
#custom-bluetooth.one-device:hover {
	min-width: 27px;
}

#custom-hyprsunset:hover,
#custom-network:hover {
	min-width: 37px;
}

#battery:hover,
#custom-bluetooth.multiple-devices:hover {
	min-width: 47px;
}

#custom-audio:hover,
#battery:hover,
#custom-temperature:hover {
	min-width: 87px;
}

#custom-audio.high:hover,
#battery.LVL0:hover {
	min-width: 97px;
}

#clock:hover {
	min-width: 137px;
}

/* colors on hover */
#custom-temperature.critical:hover,
#custom-power:hover,
#custom-network.strength-0:hover,
#battery.LVL5:hover {
	background-color: #ff6f91;
}

#custom-temperature.warning:hover,
#custom-network.strength-4:hover,
#custom-network.strength-5:hover,
#battery.LVL3:hover,
#custom-hyprsunset:hover {
	background-color: #f9e2af;
}

#custom-temperature.normal:hover {
	background-color: #89dceb;
}

#custom-bluetooth.powered-off:hover,
#custom-network.disconnected:hover,
#custom-notification-center.clear:hover,
#custom-audio.muted:hover {
	background-color: #7f849c;
}

#custom-bluetooth.no-devices:hover {
	background-color: #74c7ec;
}

#custom-bluetooth.one-device:hover,
#custom-bluetooth.multiple-devices:hover {
	background-color: #2193ff;
}

#custom-network.strength-1:hover,
#custom-audio.high:hover,
#battery.LVL4:hover {
	background-color: #f38ba8;
}

#custom-network.strength-2:hover,
#custom-audio.medium:hover {
	background-color: #eba0ac;
}

#custom-network.strength-3:hover {
	background-color: #f7a8b8;
}

#custom-network.strength-6:hover,
#custom-network.strength-7:hover,
#battery.LVL2:hover {
	background-color: #94e2d5;
}

#custom-network.ethernet:hover,
#custom-network.strength-8:hover,
#custom-network.strength-9:hover,
#battery.LVL0:hover,
#battery.LVL1:hover {
	background-color: #a6e3a1;
}

#clock:hover,
#custom-notification-center.unclear:hover {
	background-color: #f5e0dc;
}

#window:hover,
#custom-window:hover {
	background-color: #e0e6ed;
}

#custom-hyprland-settings:hover {
	background-color: #a6adc8;
}

#custom-audio.low:hover {
	background-color: #bac2de;
}
